@import "tailwindcss";
@import "tailwindcss/utilities";

html, body {
  background: #000;
  color: #fff;
}

@keyframes sweep {
  0% { transform: translateX(-100%) rotate(12deg); }
  100% { transform: translateX(200%) rotate(12deg); }
}

.animate-sweep {
  animation: sweep 8s linear infinite;
}

@keyframes sweepSlow {
  0% { transform: translateX(120%) rotate(-14deg); }
  100% { transform: translateX(-120%) rotate(-14deg); }
}

.animate-sweep-slow {
  animation: sweepSlow 12s linear infinite;
}
