@import "tailwindcss";
@import "tailwindcss/utilities";

html, body {
  background-color: #05050A;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


@keyframes sweep {
  0% { transform: translateX(-100%) rotate(12deg); }
  100% { transform: translateX(200%) rotate(12deg); }
}

.animate-sweep {
  animation: sweep 8s linear infinite;
}

@keyframes sweepSlow {
  0% { transform: translateX(120%) rotate(-14deg); }
  100% { transform: translateX(-120%) rotate(-14deg); }
}

.animate-sweep-slow {
  animation: sweepSlow 12s linear infinite;
}



@keyframes scrollSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scrollSlow {
  animation: scrollSlow 25s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
